<h2><%= @question.title %></h2>

<p><%= @question.body_html.html_safe %></p>

Posted by: <%= @question.user.name %><br>

<br>
<%= form_for [@question, @answer] do |f| %>
  <%= f.label :body, "Answer this question:" %><br>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>

<h3>Answers:</h3>
<ul>
  <% @question.answers.order(best_answer: :desc, created_at: :desc).each do |answer| %>
    <li>
      <% if answer.best_answer == true %>
        ***BEST ANSWER***
      <% end %>
      <%= answer.body_html.html_safe %>
      <% if session[:user_id] == @question.user_id %>
        <%= form_for answer do |f| %>
          <%= f.submit value: "Best Answer" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<br>
<% if signed_in? %>
  <% if session[:user_id] == @question.user_id %>
    <%= link_to 'Edit', edit_question_path(@question) %>
    <%= link_to 'Delete', question_path(@question), method: :delete %>
    <br>
  <% end %>
<% end %>
<%= link_to 'Back to All Questions', questions_path %>
